.places__paragraph {
box-sizing: border-box;
grid-area: paragraph;
}

@media screen and (max-width: 610px) {

    .places__paragraph {
    font-size: 32px;
    line-height: 35px;
  }
 }

 @media screen and (max-width: 340px) {

  .places__paragraph {
    margin:0 16px 0;
  }
}