

.photo-grid {
    box-sizing: border-box;
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows:auto;
    justify-content: center;
    column-gap:16px;
    row-gap:16px;
    margin: 88px 48px 0;
  
}
@media screen and (max-width: 1024px) {
    .photo-grid {
        grid-template-columns: 1fr 1fr 1fr;
        column-gap:14px;
        row-gap:14px;
        margin: 88px 48px 0;
    }
    
}
@media (max-width: 768px) {
    .photo-grid {
        grid-template-columns:1fr 1fr;
        column-gap:16px;
        row-gap:16px;
        margin: 88px 24px 0;
    }
    
}
@media (max-width: 442px) {
    .photo-grid {   
        display: flex;
        width: 100%;
        flex-wrap: wrap;
        margin: 67px 12px 0;
        row-gap:9px;
    }
    
}
