.places {
   display: flex;
   box-sizing: border-box;
   margin:52px 148px 0;
   width:100%;
   flex-direction: column;
   justify-content: center;

}
@media screen and (max-width: 1024px) {

   .places {
      margin:52px 48px 38px;
   }
}

@media screen and (max-width: 768px) {

   .places {
      margin:90px 24px 27px;
   }
}
@media screen and (max-width: 360px) {

   .places {
      margin:63px 0 0 0;
   }
}