.place {
    display: grid;
    width:984px ;
    /* min-height:584px ; */
    grid-template-columns:repeat(auto-fit,1fr);
    grid-template-rows: repeat(4,min-content);
    grid-auto-rows:minmax(320px,auto);
    grid-auto-flow:dense;
}

@media screen and (max-width: 760px) {

    .place {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        row-gap: 32px;
    }
}