.lead {
 box-sizing: border-box;
    display: flex;
    flex-direction: column;
    padding-bottom: 92px;
    align-items: center;
    max-width: 984px;
    margin: 0 48px;
}

@media screen and (min-width: 767px) and (max-width: 1279px) {

    .lead {
        max-width: none;
        margin: 0;
        padding-bottom: 88px;
    }
}

@media screen and (max-width: 767px) {

    .lead {
        padding-bottom: 64px;
        margin: 0;
    }
}