.places__text {
    font-family: 'Inter', 'Arial', sans-serif;
    margin: 0;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 29.34px;
    color: #FFFFFF;
    margin-bottom: 26px;
}

.places__text:last-child {
    margin-bottom: 0;
}

@media screen and (max-width: 768px) {

    .places__text {
        font-size: 16px;
        line-height: 26.08px;
    }
}
@media screen and (max-width: 320px) {

    .places__text {
      margin-top: 13px;
      padding:0 16px 0;
    }
}