.intro__text {
font-family: 'Inter', 'Arial', sans-serif;
margin: 0 0 33px;
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 163%;
color: #FFFFFF;
}

@media screen and (max-width: 330px) {
    .intro__title {
        margin: 0 0 34px;
    }
}