.intro {
    box-sizing: border-box;
    display: flex;
    margin: 0 auto;
    width: 100%;
    flex-wrap: wrap;
    padding:114px 148px 0;
}

@media screen and (max-width: 1119px) {

    .intro {
        padding:114px 286px 0 48px;
    }
}

@media screen and (max-width: 980px) {

    .intro {
        padding:110px 24px 0;
    }
}

@media screen and (max-width: 760px) {

    .intro {
        padding:64px 24px 0;
    }
}
