.cover {
    box-sizing: border-box;
    width:100%;
    background-image: url("../../images/TrainsL.png");
    margin: 0 48px;
    background-size:cover;
    background-repeat: no-repeat;
    background-position:center;
}
@media screen and (max-width: 1024px) {
    .cover {
        margin: 0 0 16px 0;       
      }
}


@media screen and (max-width: 858px) {
    .cover {
    background-image: url("../../images/TrainsS.png");
    }
}

@media screen and (max-width: 534px) {
    .cover {
        margin: 0;
    background-image: url("../../images/TrainsM.png");
    }
}

