.cover {
    display: flex;
    box-sizing: border-box;
    max-width:1184px;
    height: 740px;
    background-image: url("../../images/TrainsL.png");
    margin: 92px 48px 27px;
    justify-content: center;
    align-items:center;
    background-size:cover;
    background-repeat: no-repeat;
    background-position:center;
}


@media screen and (max-width: 1024px) {
    .cover {
    max-width:1024px;
    height: 640px;
    margin: 50px 0 16px 0;       
      }
}


@media screen and (max-width: 862px) {
    .cover {
    max-width:768px;
    height: 480px;
    background-image: url("../../images/TrainsS.png");
    margin: 50px 0 16px 0;   
    }
}


@media screen and (max-width: 560px) {
    .cover {
    max-width:440px;
    height: 200px;
    margin: 66px 0 0 0;
    background-image: url("../../images/TrainsM.png");
    }
}



