.place__paragraph {
box-sizing: border-box;
grid-area: paragraph;
}

@media screen and (max-width: 610px) {

    .place__paragraph {
    font-size: 32px;
    line-height: 35px;
  }
 }

@media screen and (max-width: 610px) {

    .place__paragraph {
  padding:16px;
  font-size: 16px;
  line-height: 163%;
    }
 }

 @media screen and (max-width: 340px) {

  .place__paragraph {
    margin:-35px 0 0 0;
  }
}